*{
    margin: 0px;
    padding: 0px;
    color: rgb(226, 25, 25);
}
.container{
    background-color: rgb(0, 80, 100);
}
.container ul{
    display: inline-flex;
   
    list-style: none;
}
.container ul li {
    width: 200px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.container ul li a{
    text-decoration: none;

}
.container ul li .fas{
    margin-right: 5%;
}
.container ul li:hover{
    background-color: rgb(243, 146, 19);
    border: 1px solid red;
    border-radius: 20px;
}
.submenu-1{
    display: none;
}
.container ul li:hover .submenu-1{
    display: block;
    position: absolute;
    background-color: aqua;
    width: 198px;
    border-radius: 20px;
    margin-top: 8px;  
}
.container ul li:hover .submenu-1 ul{
    display: block;
    width: 198px;
    
}
.container ul li:hover .submenu-1 ul li:hover{
    width: 180px;
    background-color: rgb(0, 255, 51);
}
.submenu-2{
    display: none;
}
.fa-angle-right{
    float: right;
    margin-right: 20px !important
}
.hover2:hover .submenu-2{
    display: block;
    position: absolute;
   margin-left: 188px;
    margin-top: -23px;
    background-color: aquamarine;
    border: 1px solid red;
    border-radius: 20px;    
}


